/* A */
a{
    text-decoration: none;
}

/*BUTTON*/
.button{
    border-radius: 50px;
    padding: 0.25rem 1rem;
}

/* ROW */
.row{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

/*COLUMN*/
.col{
    border-radius: 25px;
    text-align: center;
    padding: 2rem 1rem;
}

/* H2 */
h2{
    margin: 1.5rem 0;
    font-size: 32px;
}

/* H3 */
h3{
    margin: 1.5rem 0;
}

/* IMAGES */
img{
    max-width: 100%;
}

/*SECTIONS*/
section.violet{
    background-color: rgb(149 147 230);
}

/*SECTIONS CONTENT*/
[class*="content"]{
    padding: 3rem 2rem;
    margin: auto;
}