/*TABLET*/
@media screen and (min-width: 768px){
    
    /*HERO*/
    /* ROW */
    .hero-content .row{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: normal;
    }

    /* HERO COLUMNS */
    .hero-content .col{
        width: calc(100% / 3 - 1rem);
    }

    .bigger.col{
        width: calc(100% / 3 * 2 - 1rem);
    }

    .bigger img{
        max-width: 50%;
    }

    /*PLANNING SECTION*/

    
    /*PLANNING COLUMN*/
    
}

/*DESKTOP*/
@media screen and (min-width: 992px){
    
    /* HEADER */
    .header{
        padding: 2rem 10rem;
    }
    
    /* NAV ITEMS */
    #disappear{
        display: none;
    }

    #appear{
        display: inline-block;
    }

    /* HERO */
    /* COLUMN */
    .bigger.col{
        display: flex;
    }

    .bigger .col-image{
        margin-top: 0;
    }

    .bigger img{
        max-width: 100%;
        top: 56px;
    }

    /*SECTIONS*/
    .section-content{
        padding: 3rem 15rem;
        margin: auto;
        color: white;
    }

    /*PLANNING*/

    .planning .col, .planning .section-item{
        width: calc(100% / 2);
    }

    .planning img{
        max-width: 100%;
    }
    /*ROW*/
    .planning .row{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
    }
    /*COLUMN*/
    .planning .col{
        position: relative;
        bottom: 20rem;
        left: 10rem;
    }
}