/*TABLET*/
@media screen and (min-width: 768px){
    
    /*demo-section*/
    /* ROW */
    .demo-content .row{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: normal;
    }

    /* demo-section COLUMNS */
    .demo-content .col{
        width: calc(100% / 3 - 1rem);
    }

    .bigger.col{
        width: calc(100% / 3 * 2 - 0.5rem);
    }

    .bigger img{
        max-width: 50%;
    }

    /*PLANNING*/

    
    /*PLANNING COLUMN*/

    /*PARTNERS*/
    /*PARTNERS COLUMNS*/
    .partners-content .col{
        width: 100%;
    }

    /*BENEFITS SECTION*/
    .benefits-content .row{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .benefits-content .col{
        width: calc((100% - 1rem) / 2);
    }

    /*ABOUT US*/
    .about-us-content{
        display: flex;
        gap: 2.5rem;
    }

    .first-item{
        width: 60%;
    }

    .second-item{
        width: 40%;
    }
}

/*DESKTOP*/
@media screen and (min-width: 992px){
    
    /* HEADER */
    .nav{
        padding: 3rem 10rem;
    }
    
    /* NAV ITEMS */
    #disappear{
        display: none;
    }

    #appear{
        display: inline-block;
    }

    /* demo-section */
    /* COLUMN */
    .bigger.col{
        display: flex;
    }

    .bigger .col-image{
        margin-top: 0;
    }

    .bigger img{
        max-width: 100%;
        top: 56px;
    }

    /*SECTIONS*/
    [class*="content"]:not([class*="demo"]), .footer{
        padding: 3rem 10rem;
        margin: auto;
    }

    /*PLANNING*/

    .planning-content .col, .planning-content .planning-item{
        width: calc(100% / 2);
    }

    .planning-content img{
        max-width: 100%;
    }
    /*ROW*/
    .planning-content .row{
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: flex-end;
    }

    /*PARTNERS*/
    /*COLUMN*/
    .partners-content .col{
        display: flex;
        text-align: left;
    }

    .partners-content .col-image, .partners-content .col-text{
        width: 50%;
    }
    
    /*BENEFITS SECTION*/
    .benefits-content .col{
        width: calc((100% - 2rem) / 3);
        
    }
   
}