/*Custom properties*/
:root{
    --debug-border: 2px solid black;
    /*border: var(--debug-border);*/
}

/*Reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/
.header{
    width: 100%;
    background-color: rgb(47, 153, 220);
    display: flex;
    justify-content: center;
    align-items: center;
    /*DEBUG*/
    height: 4rem;
}

/*NAV*/
.nav{
    width: 100%;
    padding: 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /*DEBUG*/
}

/* NAV LIST*/
#disappear{
    font-size: 1.5rem;
}

#appear{
    display: none;
}

.flex-ul{
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

.nav a{
    color: white;
}

/*NAV BUTTON*/
.nav .button{
    background-color: white;
    color: black;
}

/*MAIN*/
/* DEMO */

/* DEMO CONTENT */
/* .demo-content{
    padding: 3rem 2rem;
    margin: auto;
} */

/* demo-section COLUMNS */
.demo-content .col{
    background-color: lightblue;
    width: 100%;
    /* debug */
    /* height: 20rem; */
}

.demo-content i:not(.button i){
    font-size: 64px;
}

.demo-content h3{
    color: #005eff;
}
 /*BIGGER COLUMN*/
.bigger.col{
    padding: 2rem 1rem;
    padding-bottom: 0;
    text-align: left;
    /*DEBUG*/
    /* height: 30rem; */
}

.bigger p{
    margin-bottom: 2rem;
}

.demo-content .button{
    background-color: #005eff;
    color: white;
    padding: 0.5rem 4rem;
}

.bigger .col-image{
    margin-top: 64px;
}

.bigger img{
    max-width: 100%;
    position: relative;
    top: 4px;
    left: 0;
}

/*SECTIONS*/
/*PLANNING*/
.planning-content{
    color: white;
}


/* PLANNING COLUMNS */
.planning-content .col{
    margin-top: 1rem;
    background-color: white;
    color: black;
    width: 100%;
    /* debug */
    /* height: 20rem; */
}

.planning-content .col p{
    font-style: italic;
}

.arrow{
    margin: 1rem auto 0;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    color: black;
    font-size: 25px;
    background-color: rgb(149 147 230);
}

/* PARTNERS */
.partners-content{
    text-align: center;
}

.partners-content h2{
    color: rgb(149 147 230);
}


/* ROW */
.partners-content .row{
    margin-top: 2rem;
}
/* COLUMNS */
.partners-content .col{
    background-color: rgb(149 147 230);
    color: white;
}

.partners-content img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

/* BENEFITS */
.benefits-content{
    text-align: center;
}

.benefits-content h2{
    color: white;
}

/* BENEFITS COLUMNS */

.benefits-content .col{
    background-color: white;
    text-align: left;
}

.benefits-content .col h2, .benefits-content .col h3{
    color: rgb(149 147 230);
}

.benefits-content p{
    margin-bottom: 2rem;
}

.benefits-content .button{
    background-color: rgb(149 147 230);
    color: white;
    font-weight: bold;
    padding: 0.8rem 3rem;
}

/* ABOUT US */
.about-us-content{
    margin: 0;
}

.about-us-content p{
    margin-bottom: 2rem;
}

.about-us-content img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
}

.about-us-content .fa-quote-left{
    font-size: 48px;
    position: relative;
    bottom: 10rem;
    right: 3rem;
}

.about-us-content h2, .about-us-content h3{
    color: rgb(149 147 230);
}

.about-us-content .button{
    background-color: rgb(149 147 230);
    color: white;
    font-weight: bold;
    padding: 0.5rem 2rem;
}

/*PRICING*/
.pricing-content{
    text-align: center;
}

.pricing-content h2{
    color: rgb(255, 221, 0);
}

.pricing-content h3, .pricing-content p{
    color: white;
}

.pricing-content p{
    margin: 2rem 0;
}

.pricing-content h4{
    color: lightgray;
}

.pricing-content .button{
    background-color: rgb(255, 255, 255);
    color: rgb(149 147 230);
    font-weight: bold;
    padding: 0.8rem 3rem;
}

/*FOOTER*/
.footer{
    background-color: #323232;
    text-align: center;
}

.footer p{
    color: white;
    margin-bottom: 2rem;
}

.footer .underline{
    color: rgb(149 147 230);
}